@model MainProject1.Models.StatusModel
@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>
<div class="container">
    <div class="card-body">
        <form asp-action="Status" asp-controller="Home" method="post">
            <div class="card b">
                @*<input asp-for="Id" type="hidden" />*@
                <div class="form-group">
                    <label>Id<label class="a">*</label></label><br />
                    <input asp-for="Empid" class="form-control" data-val="true" type="text" />
                    <span class="text-danger" asp-validation-for="Empid"></span>

                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select asp-for="Role" class=" form-control" data-val="true">
                        <option>Manager</option>
                        <option>Employee</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Role"></span>
                </div>
                <div class="form-group">
                    <label>Name<label class="a">*</label></label><br />
                    <input asp-for="Name" class="form-control" data-val="true" type="text" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div>
                    <button type="submit">Show</button>
                    @*<input class="btn btn-primary" type="submit" /><br />*@
                </div>
            </div>
        </form>
    </div>
</div>